@import "../../global/vars";
@import "../../global/templates";

.bar-chart {
  padding: 10px;
  background-color: $color-white;
  border-radius: 5px;
  border: 3px solid $color-bg-dark;
  overflow: scroll;
  &__headline {
    @include default-headline(28px, 28px, $color-black);
    margin-bottom: 20px;
  }
  &__signs-bars-wrapper {
    display: flex;
    column-gap: 5px;
    .bar-chart__signatures-wrapper {
      display: flex;
      flex-direction: column;
      .bar-chart__signatures-values-wrapper {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-end;
        .bar-chart__signature-value {
          font-family: "Roboto";
          font-weight: bold;
          font-size: 20px;
          line-height: 20px;
          color: $color-black;
        }
      }
      .bar-chart__signature {
        @include default-text(14px, 14px, $color-black);
        white-space: nowrap;
      }
    }
    .bar-chart__bars-wrapper {
      height: 300px;
      display: flex;
      justify-content: space-evenly;
      column-gap: 10px;
      .bar-chart__bar-label-wrapper {
        width: 70px;
        min-width: 70px;
        display: flex;
        flex-direction: column;
        .bar-chart__bar-wrapper {
          flex-grow: 1;
          display: flex;
          flex-direction: column;
          justify-content: flex-end;
          .bar-chart__bar {
            background-color: $color-bar;
            border: 1px solid $color-black;
          }
        }
        .bar-chart__label {
          @include default-text(14px, 14px, $color-black);
          text-align: center;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
    }
  }
}
