@import "../global/vars";
@import "../global/templates";

.line-chart {
  padding: 10px;
  background-color: $color-white;
  border-radius: 30px;
  border: 3px solid $color-bg-dark;
  &_mb-30 {
    margin-bottom: 30px;
  }
  &__content-wrapper {
    overflow-x: scroll;
    .line-chart__headline {
      @include default-headline(28px, 28px, $color-black);
      margin-bottom: 10px;
      @media (max-width: $phone-l) {
        font-size: 22px;
        line-height: 22px;
      }
    }
    .line-chart__diagram {
    }
  }
}
