@import "../global/vars";
@import "../global/templates";
@import "./barChart/barChart";
@import "./lineChart/lineChart";
@import "./pieChart/pieChart";

.dashboard {
  flex-grow: 1;
  padding: 10px;
  background-color: $color-bg-light;
}
