@import "../global/vars";
@import "../global/templates";
@import "./barChart";
@import "./lineChart";
@import "./pieChart";

.dashboard {
  flex-grow: 1;
  padding: 10px;
  background-color: $color-bg-light;
}
